body {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: Poppins;
  color: #fff
}


svg {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  background-color: #000;
}

rect:hover {
  cursor: pointer;
  stroke: black;
}

.container {
  position: absolute;
}

.tooltip {
  background-color: #fff;
  border-radius: 5%;
  color: #000;
  display: none;
  position: absolute;
  z-index: 100;
  text-align: center;
  opacity: 0.9;
}

.tooltip.show {
  display: flex;
}

